<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>VueJs Tutorial</title>
    <link rel="stylesheet" href="styles.css">
    <script src="https://unpkg.com/vue">

    </script>
  </head>
  <body>
    <div id="vue-app">
        <h3> {{ greet('AfterNoon') }}</h3>
        <p>Name: {{ name }}<p>
        <p>Job: {{ job }}</p>

        <h3>Data Binding</h3>
        <a v-bind:href="website" target="_blank">Google.com</a>
        <input type="text" v-bind:value="website">
        <p v-html="websiteTag"></p>

        <h3>Events</h3>
        <button type="button" v-on:click=" addAge(1) ">Add a year</button>
        <button type="button" v-on:click=" subAge(1) ">Sub a year</button>
        <button type="button" v-on:dblclick=" addAge(10) ">DoubleClick Add 10 year</button>
        <button type="button" v-on:dblclick=" subAge(10) ">DoubleClick Sub 10 year</button>
        <p>My Age is {{ age }}</p>

        <h3>Keyboard Events</h3>
        <label for="">Name: </label><input type="text" value="" v-model="name"><span>{{ name }}</span>
        <br>
        <label for="">Age: </label><input type="text" value="" v-model="age"><span>{{ age }}</span>

        <h3>Computed Properties</h3>
        <button type="button" v-on:click="a++">Add to A</button>
        <button type="button" v-on:click="b++">Add to B</button>
        <p>A - {{ a }}</p>
        <p>B - {{ b }}</p>
        <p>Age + A = {{ addToA }}</p>
        <p>Age + B = {{ addToB }}</p>

        <h3>Dynamic CSS</h3>
        <h5>Example 1</h5>
        <div v-on:click="available = !available" v-bind:class="{available: available}">
          <span>Click to change BG color</span>
        </div>

        <h6>Example 2</h6>
        <button type="button" v-on:click="available = !available">Toggle available</button>
        <button type="button" v-on:click="nearby = !nearby">Toggle nearby</button>
        <div v-bind:class="compClasses">
          <span>Test</span>
        </div>

        <h3>Conditionals</h3>
        <button type="button" v-on:click="error = !error">Toggle Error</button>
        <button type="button" v-on:click="success = !success">Toggle Success</button>
        <p v-if="error">There has been an error</p>
        <p v-else-if="success">Success</p>
    </div>

    <script src="app.js"></script>
  </body>
</html>
