<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>VueJs Tutorial</title>
    <link rel="stylesheet" href="styles.css">
    <script src="https://unpkg.com/vue"></script>
  </head>
  <body>
    <div id="vue-app">
      <h3>Looping through lists</h3>
      <ul>
        <li v-for="character in characters">{{ character }}</li>
      </ul>
      <ul>
        <li v-for="(ninja, index) in ninjas">{{ index }}. {{ ninja.name }} - {{ ninja.age }}</li>
      </ul>
      <template v-for="(ninja, index) in ninjas">
        <h5>{{ index }}. {{ ninja.name }}</h5>
        <p>{{ ninja.age }}</p>
      </template>
      <template v-for="ninja in ninjas">
        <ul>
          <li v-for="(val, key) in ninja">{{ key }} - {{ val }}</li>
        </ul>
      </template>
    </div>

  <script type="text/javascript" src="app.js"></script>

  </script>
  </body>
</html>
