<template>
  <div>
    <slot name="slotTitle"></slot>
    <h3>I am the form helper</h3>
    <slot name="text"></slot>
  </div>
</template>

<script>
export default {
  components: {

  },
  data() {
    return {

    }
  },
  methods: {

  }
}
</script>

<style scoped>
  h3{
    color: red;
  }
</style>
