<template>
  <header>
    <h3 v-on:click="changeTitle">{{ title }}</h3>
  </header>
</template>

<script>
import { bus } from '../main';

export default {
  props: {
    title: {
      type: String
    }
  },
  data () {
    return {
      'title': 'Header Vue Ninjas'
    }
  },
  methods: {
    changeTitle: function() {
      //#23 primitive type
      //this.title = 'Vue Wizards';

      //#24 event - child to parent (indirect passing data from Header to Root to Footer)
      //this.$emit('changeTitle', 'Vue Wizards');

      //#25 event bus - direct passing data from Header to Footer
      this.title = 'Vue Wizards';
      bus.$emit('titleChange', this.title);
    }
  }
}
</script>


<style scoped>
header{
  background: lightgreen;
  padding: 10px;
}
h3{
  text-align: center;
  color: #222;
}
</style>
