<template>
    <div v-theme:column="'narrow'" id="show-blogs">
      <h3>All Blog Aticles</h3>
      <input type="text" v-model="search" placeholder="search blogs" />
      <div class="single-blog" v-for="blog in filteredBlogs">
        <router-link v-bind:to="'/blog/' + blog.id"><h4>{{ blog.title | to-uppercase }}</h4></router-link>
        <article>{{ blog.content | snippet }}</article>
      </div>
    </div>
</template>

<script>
// Imports
export default {
    data () {
        return {
          blogs: [],
          search: ''
        }
    },
    methods: {

    },
    created() {
      this.$http.get('https://first-project-1de77.firebaseio.com/posts.json').then(function(data){
        //this.blogs = data.body.slice(0,10);
        return data.json();
      }).then(function(data) {
        var blogsArray = [];
        for(let key in data) {
          data[key].id = key;
          blogsArray.push(data[key]);

        }
        this.blogs = blogsArray;
      });
    },
    computed: {
      filteredBlogs: function(){
        return this.blogs.filter((blog) => {
          return blog.title.match(this.search);
        });
      }
    },
    filters: {
      toUppercase(value){
        return value.toUpperCase();
      }
    },
    directives: {
      'rainbow': {
        bind(el,binding,vnode) {
          el.style.color = '#'+ Math.random().toString().slice(2, 8);
        }
      }
    }
}
</script>

<style>
#show-blogs{
  max-width: 800px;
  margin: 0 auto;
}
.single-blog{
  padding: 20px;
  margin: 20px 0;
  box-sizing: border-box;

}

</style>
