<template>
    <div>
        <!-- <keep-alive>
            <component v-bind:is="component"></component>
        </keep-alive>
        <button v-on:click="component = 'form-one'">Show form one</button>
        <button v-on:click="component = 'form-two'">Show form two</button> -->
        <!-- <show-blogs></show-blogs> -->

        <app-header></app-header>
        <router-view></router-view>
    </div>
</template>

<script>
// Imports
import formOne from './components/formOne.vue';
import formTwo from './components/formTwo.vue';
import addBlog from './components/addBlog.vue';
import showBlogs from './components/showBlog.vue';
import header from './components/header.vue';

export default {
    components: {
        'form-one': formOne,
        'form-two': formTwo,
        'add-blog': addBlog,
        'show-blogs': showBlogs,
        'app-header': header
    },
    data () {
        return {
          //component: 'form-two'
        }
    },
    methods: {
        handleSubmit: function(){
            alert('thanks for submitting');
        }
    }
}
</script>

<style>
body{
    margin: 0;
    font-family: 'Nunito SemiBold';
}
</style>
