<template>
  <div>
    <form-helper>
      <h2 slot="slotTitle">{{ slotTitle }}</h2>
      <p slot="text">I am slot paragraph text</p>
    </form-helper>
    <app-header v-bind:title="title" v-on:changeTitle="updateTitle($event)"></app-header>
    <app-ninjas v-bind:ninjas="ninjas_data"></app-ninjas>
    <app-footer v-bind:title="title"></app-footer>
  </div>
</template>

<script>
import Header from './components/Header.vue'
import Ninjas from './components/Ninjas.vue'
import Footer from './components/Footer.vue'
import formHelper from './components/formHelper.vue'

export default {
  components: {
    'app-header': Header,
    'app-ninjas': Ninjas,
    'app-footer': Footer,
    'form-helper': formHelper
  },
  data () {
    return {
      ninjas_data: [
                {name: 'Ryu', speciality: 'Vue Components', show: false},
                {name: 'Crystal', speciality: 'HTML Wizardry', show: false},
                {name: 'Hitoshi', speciality: 'Click Events', show: false},
                {name: 'Tango', speciality: 'Conditionals', show: false},
                {name: 'Kami', speciality: 'Webpack', show: false},
                {name: 'Yoshi', speciality: 'Data Diggin', show: false}
            ],
      title: 'Title Header from Main ',
      slotTitle: 'I am a Dynamic Slot Test Title'
    }
  },
  methods: {
    updateTitle: function(updatedTitle) {
      this.title = updatedTitle
    }
  }
}
</script>

<style>

</style>
